@font-face {
  font-family: 'Regular';
  src: url("../fonts/JosefinSans.woff2") format("woff2"), url("../fonts/JosefinSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Light';
  src: url("../fonts/JosefinSans-Light.woff2") format("woff2"), url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Thin';
  src: url("../fonts/JosefinSans-Thin.woff2") format("woff2"), url("../fonts/JosefinSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SemiBold';
  src: url("../fonts/JosefinSans-SemiBold.woff2") format("woff2"), url("../fonts/JosefinSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Bold';
  src: url("../fonts/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/JosefinSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Regular; }

.window {
  background: #0c181a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0c181a 0%, #112425 50%, #0f2123 52%, #183334 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0c181a 0%, #112425 50%, #0f2123 52%, #183334 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0c181a 0%, #112425 50%, #0f2123 52%, #183334 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c181a', endColorstr='#183334',GradientType=0 );
  /* IE6-9 */ }

.container {
  width: 1200px;
  margin: 0 auto; }

.header {
  background: #2d2d2d;
  height: 15vh; }

ul {
  height: 100%;
  list-style: none; }

li {
  height: 100%;
  width: 200px;
  float: left;
  padding: 35px 40px 35px 40px;
  background: #2d2d2d;
  font-size: 25px; }

.shadow {
  -moz-box-shadow: inset 0 0 10px rgba(45, 130, 130, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgba(45, 130, 130, 0.5);
  box-shadow: inset 0 0 10px rgba(45, 130, 130, 0.5); }

a {
  text-decoration: none;
  color: rgba(45, 130, 130, 0.5);
  text-transform: uppercase; }

.home {
  height: 80vh;
  background: #1e1e1e; }

.home > p {
  font-size: 120px;
  text-transform: uppercase;
  color: rgba(45, 130, 130, 0.5);
  margin-left: 50px;
  padding-top: 150px; }

.underline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin-left: 50px; }

.underline div {
  width: 600px;
  height: 10px;
  margin-right: 5px;
  -moz-box-shadow: inset 0 0 10px rgba(45, 130, 130, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgba(45, 130, 130, 0.5);
  box-shadow: inset 0 0 10px rgba(45, 130, 130, 0.5); }

.section1 {
  height: 80vh;
  display: flex; }

.section1 .textTyper {
  width: 25%;
  height: 100%;
  padding: 50px 30px 20px 30px;
  background: #282828;
  color: rgba(192, 159, 11, 0.7);
  font-size: 18px;
  line-height: 25px; }

.section1 .eventBox {
  background: #1e1e1e;
  width: 75%;
  height: 100%; }

.section1 .react {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.section1 .codeBox {
  height: 30%;
  width: 100%;
  height: 150px;
  vertical-align: bottom;
  padding: 10px;
  color: white;
  background: #1e1e1e;
  border-top: 2px solid #282828; }

.box-1 {
  background: #ca9f14;
  padding: 20px;
  border: 2px solid #1e1e1e; }

.box-2 {
  background: #328782;
  padding: 20px;
  border: 2px solid #1e1e1e; }

.box-3 {
  background: #641e1e;
  padding: 20px;
  border: 2px solid #1e1e1e; }

.box-4 {
  background: #2b346b;
  padding: 20px;
  border: 2px solid #1e1e1e; }

.box-5 {
  background: #532042;
  padding: 20px;
  border: 2px solid #1e1e1e; }

.box-6 {
  background: #0a5234;
  padding: 20px;
  border: 2px solid #1e1e1e; }

.section2 {
  height: 80vh;
  display: flex; }

.section2 .textTyper {
  width: 25%;
  height: 100%;
  padding: 50px 30px 20px 30px;
  background: #282828;
  color: rgba(192, 159, 11, 0.7);
  font-size: 18px;
  line-height: 25px; }

.section2 .eventBox {
  background: #1e1e1e;
  width: 75%;
  height: 100%; }

.section2 .react {
  height: 70%;
  width: 100%; }

.section2 .codeBox {
  height: 30%;
  width: 100%;
  height: 150px;
  vertical-align: bottom;
  padding: 10px;
  color: white;
  background: #1e1e1e;
  border-top: 2px solid #282828; }

.section3 {
  height: 80vh;
  display: flex; }

.section3 .textTyper {
  width: 25%;
  height: 100%;
  padding: 50px 30px 20px 30px;
  background: #282828;
  color: rgba(192, 159, 11, 0.7);
  font-size: 18px;
  line-height: 25px; }

.section3 .eventBox {
  background: #1e1e1e;
  width: 75%;
  height: 100%; }

.section3 .react {
  height: 70%;
  width: 100%; }

.section3 .apiBox {
  height: 100%;
  padding: 10px; }

.section3 .apiBox > p {
  margin: 10px 0 10px 0;
  font-size: 25px;
  color: rgba(45, 130, 130, 0.5);
  font-weight: bold; }

.section3 .apiBox > div {
  width: 50%;
  height: 85%;
  float: left;
  padding: 10px; }

.section3 .apiBox > div:nth-child(2) {
  position: relative; }

.section3 .apiBox > div:nth-child(2) img {
  width: 240px;
  height: 150px;
  margin-top: 25px;
  box-shadow: 0 0 5px rgba(45, 130, 130, 0.5); }

.section3 .apiBox > div:nth-child(2) img:hover {
  box-shadow: 0 0 5px rgba(192, 159, 11, 0.7); }

.section3 .apiBox > div:nth-child(2) .textBeforeImg {
  position: absolute;
  top: 0;
  left: 10%;
  color: rgba(192, 159, 11, 0.7);
  text-transform: uppercase; }

.section3 .apiBox > div:nth-child(2) h4 {
  margin-top: 10px;
  color: rgba(45, 130, 130, 0.5);
  font-family: Bold; }

.section3 .apiBox > div:nth-child(2) p {
  font-size: 17px;
  margin-top: 1px;
  color: #e3f0f5;
  padding: 5px; }

.section3 .apiBox > div:last-child {
  box-shadow: 0 0 7px rgba(45, 130, 130, 0.5); }

.section3 .apiBox div:last-child h4 {
  color: rgba(45, 130, 130, 0.5);
  margin-bottom: 10px;
  font-family: Bold; }

.section3 .apiBox div:last-child p {
  color: #e3f0f5;
  padding: 15px 15px 0 0;
  line-height: 22px; }

.section3 .codeBox {
  height: 30%;
  width: 100%;
  height: 150px;
  vertical-align: bottom;
  padding: 10px;
  color: white;
  background: #1e1e1e;
  border-top: 2px solid #282828;
  position: relative; }

.section3 .codeBox .fullCodeHide {
  display: none !important; }

.section3 .codeBox > div > button {
  position: absolute;
  padding: 5px;
  border: 0;
  box-shadow: 0 0 5px rgba(45, 130, 130, 0.5);
  font-family: SemiBold;
  text-transform: uppercase;
  background: #282828;
  color: rgba(192, 159, 11, 0.7);
  left: 85%;
  top: 60%; }

.section3 .codeBox .fullCodeShow {
  height: 510px;
  width: 878px;
  position: absolute;
  top: -370px;
  background: #282828;
  box-shadow: 0 0 7px rgba(192, 159, 11, 0.7); }

.section3 .codeBox .syntaxHighlighter {
  height: 100%; }

.section3 .codeBox .fullCodeShow > button {
  position: absolute;
  padding: 5px;
  border: 0;
  box-shadow: 0 0 5px rgba(45, 130, 130, 0.5);
  font-family: SemiBold;
  text-transform: uppercase;
  background: #282828;
  color: rgba(192, 159, 11, 0.7);
  left: 87%;
  top: 90%; }

.section3 .codeBox > div > button:hover, .section3 .codeBox .fullCodeShow > button:hover {
  box-shadow: 0 0 5px rgba(192, 159, 11, 0.7); }

footer {
  height: 5vh;
  background: #0c181a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0c181a 0%, #112425 50%, #0f2123 52%, #183334 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0c181a 0%, #112425 50%, #0f2123 52%, #183334 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0c181a 0%, #112425 50%, #0f2123 52%, #183334 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c181a', endColorstr='#183334',GradientType=0 );
  /* IE6-9 */ }
