$colors: (
    main: rgb(45, 130, 130),
    headerBackground: rgb(70, 70, 70),
    textTyperBackground: rgb(40, 40, 40),
    textTyperColor: rgb(192, 159, 11),
    eventBoxBackground: rgb(30, 30, 30),
    navLinkBackground: rgb(45, 45, 45),
    text: rgb(227, 240, 245),
    text1: rgb(252, 167, 167)
);
$colorsBoxes: (
    color1: rgb(202, 159, 20),
    color2: rgb(50, 135, 130),
    color3: rgb(100, 30, 30),
    color4: rgb(43, 52, 107),
    color5: rgb(83, 32, 66),
    color6: rgb(10, 82, 52)
)


