$colors: (
    main: rgb(45, 130, 130),
    headerBackground: rgb(70, 70, 70),
    textTyperBackground: rgb(40, 40, 40),
    textTyperColor: rgb(238, 201, 34),
    eventBoxBackground: rgb(30, 30, 30),
    navLinkBackground: rgb(45, 45, 45)
);

