@font-face {
    font-family: 'Regular';
    src: url('../fonts/JosefinSans.woff2') format('woff2'),
        url('../fonts/JosefinSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('../fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../fonts/JosefinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Thin';
    src: url('../fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('../fonts/JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SemiBold';
    src: url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$fonts: (
    font1: Regular,
    font2: Light,
    font3: Thin,
    font4: SemiBold,
    font5: Bold
);