.header {
    background: map-get($colors, navLinkBackground);
    height: 15vh;
}
ul {
    height: 100%;
    list-style: none;
}
li {
    height: 100%;
    width: 200px;
    float:left;
    padding: 35px 40px 35px 40px;
    background: map-get($colors, navLinkBackground);
    font-size: 25px;
}
.shadow {
    @include shadowEffect;
}

a {
    text-decoration: none;
    color: map-get($colors, main);
    text-transform: uppercase
}
