// home
.home {
    height: 80vh;
    background: map-get($colors, eventBoxBackground);
}

.home > p {
    font-size: 120px;
    text-transform: uppercase;
    color: map-get($colors, main);
    margin-left: 50px;
    padding-top: 150px;
}
.underline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin-left: 50px;
}

.underline div {
    width: 600px;
    height: 10px;
    margin-right: 5px;
    @include shadowEffect;
}

// all sections
// textTyper

.textTyper {
    @include textTyper;
}

// first div of eventtBox
.react {
    @include react;
}

//eventbox 
.eventBox {
    @include eventBox;
}

.codeBox {
    @include codeBox;
}


// the first section
.section1 {
    @include section;
}

.section1 .react {
    @include react;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .codeBox {
    @include codeBox;
}

.toDoList {
    height: 100%;
    width: 100%;
}

.newTask {
    height: 20%;
    width: 100%;
    border: 1px solid yellow;
}

.newTask button {
    @include button;
}

.taskList {
    height: 80%;
    width: 100%;
}

.taskList ul {
    @include clearFix;
}

.taskList h2 {
    color: map-get($colors, main);
    font-family: map-get($fonts, font5);
    margin-left: 10px;
}

.taskList li {
    width: 15%;
    height: 40%;
    float: left;
    position: relative;
    padding: 10px 5px 10px 5px;
    margin: 1% 2.5%;
    font-size: 15px;
    background: map-get($colors, notesBackground);
    box-shadow: 5px 5px 5px map-get($colors, notesShadow);    
}

.taskList li > div:first-of-type {
    font-family: map-get($fonts, font7);
    height: 85%;
}

.taskList li > div:last-of-type {
    position: absolute;
    margin-left: 105px;
    height: 15%;
}

.taskList button { 
    border: none;
    background: transparent;
    font-size: 17px;
    cursor: pointer;
}







// the second section*************************************************************

.section2 {
    @include section;
}

//eventbox => apibox + codeBox
.section2 .eventBox {
    @include eventBox;
}

.section2 .addressBookForm, .addressBookList {
    height: 100%;
    float: left;
}

.addressBookForm {
    width: 35%;
    padding: 5px;
    position: relative;
    @include clearFix;
}

.addressBookForm > div {
    position: absolute;
    width: 175px;
    height: 90px;
    margin: 275px 0 0 18px;
    font-size: 16px;
}

.addressBookForm form {
    height: 100%;
    box-shadow: 0 0 5px map-get($colors, main);
    
}

.addressBookForm form:hover {
    box-shadow: 0 0 5px map-get($colors, textTyperColor);
}

.section2 label {
    float: left;
    padding: 3px 10px 7px 10px;
    margin: 10px 80px 0 10px;
    color: map-get($colors, main);
}

.section2 label:hover {
    box-shadow: 0 0 5px map-get($colors, textTyperColor);
}

.section2 label input {
    height: 25px;
    margin-top: 5px;
    background: map-get($colors, textTyperBackground);
    color: map-get($colors, textTyperColor);
    border: 1px solid map-get($colors, main);
    font-size: 16px;
    padding-left: 3px;
}

.section2 label input:focus {
    background: map-get($colors, inputBackground);
    color: map-get($colors, eventBoxBackground);
    box-shadow: none;
    outline: none;
}

// input submit
.section2 form > input {
    @include button;   
    margin: 65px 0 10px 210px; 
    position: relative;
}

.section2 form > input:hover {
    box-shadow: 0 0 5px map-get($colors, textTyperColor);
    color: map-get($colors, textTyperColor);
}

.addressBookList {
    padding: 5px;
    width: 65%;
}

.addressBookList table {
    box-shadow: 0 0 5px map-get($colors, main);
}

.addressBookList button {
    @include button;
    margin: -10px 0 0 -10px;
    padding: 3px;
    font-size: 12px;
}
.addressBookList button:hover {
    box-shadow: 0 0 5px map-get($colors, textTyperColor);
    color: map-get($colors, textTyperColor);
}
    
.addressBookList th {
    font-size: 18px;
    color: map-get($colors, main); 
    padding: 20px 0 20px 0;
    text-align: left;
}

.addressBookList th:last-of-type {
    text-align: center;
}

.addressBookList th:first-of-type {
    width: 30px;
}

.addressBookList th {
    width: 100px;
}

.addressBookList td {
    padding-bottom: 5px;
    color: map-get($colors, text3); 
}

.addressBookList td:last-of-type {
    text-align: center;
}

//the third section ***********************************************************

.section3{
    @include section;
}

//apiBox
.section3 .apiBox {
    height: 100%;
    padding: 10px;
}

//titleOfPhoto
.section3 .apiBox > p {
    margin: 10px 0 10px 0;
    font-size: 25px;
    color: map-get($colors, main);
    font-weight: bold;
}

//twoDivs (left + right)
.section3 .apiBox > div {
    width: 50%;
    height: 85%;
    float: left;
    padding: 10px;
}

//leftDivWithImgDateAndCopyright
.section3 .apiBox > div:nth-child(2) {
    position: relative;
}

.section3 .apiBox > div:nth-child(2) img {
    width: 240px;
    height: 150px;
    margin-top: 25px;
    box-shadow: 0 0 5px map-get($colors, main);
}

.section3 .apiBox > div:nth-child(2) img:hover {
    box-shadow: 0 0 5px map-get($colors, textTyperColor);
}

//textBeforeImgOnMouseEnter
.section3 .apiBox > div:nth-child(2) .textBeforeImg {
    position: absolute;
    top: 0;
    left: 10%;
    color: map-get($colors, textTyperColor);
    text-transform: uppercase; 
}

.section3 .apiBox >  div:nth-child(2) h4 {
    margin-top: 10px;
    color: map-get($colors, main);
    font-family: map-get($fonts, font5);
}

.section3 .apiBox > div:nth-child(2) p {
    font-size: 16px;
    margin-top: 1px;
    color: map-get($colors, text3);
    padding: 5px;
}

//rightDivWithTitleAndDescription
.section3 .apiBox > div:last-child {
    box-shadow: 0 0 7px map-get($colors, main);
}

.section3 .apiBox > div:last-child:hover {
    box-shadow: 0 0 7px map-get($colors, textTyperColor);
}

.section3 .apiBox div:last-child h4 {
    color: map-get($colors, main);
    margin-bottom: 10px;
    font-family: map-get($fonts, font5);
}

.section3 .apiBox div:last-child p {
    color: map-get($colors, text3);
    padding: 15px 15px 0 0;
    line-height: 22px;
} 


// codeBox
// fullCodeHidden

.codeBox .fullCodeHide {
    display: none !important;
}

.codeBox > div > button {
    @include button;
    left: 87%;
    top: 65%;
}

//fullCodeShown
.codeBox .fullCodeShow {
    width: 100%;
    height: 336%;
    position: absolute;
    top: -380px;
    background: map-get($colors, textTyperBackground);
    box-shadow: 0 0 7px map-get($colors, textTyperColor);
}

.codeBox .syntaxHighlighter {
    height: 100%;
}

.codeBox .fullCodeShow > button {
    @include button;
    left: 87%;
    top: 90%;
    
}

//hover for two buttons
.codeBox > div > button:hover, .codeBox .fullCodeShow > button:hover {
    box-shadow: 0 0 5px map-get($colors, textTyperColor);
    color: map-get($colors, textTyperColor);
}



