// home
.home {
    height: 80vh;
    background: map-get($colors, eventBoxBackground);
}

.home > p {
    font-size: 120px;
    text-transform: uppercase;
    color: map-get($colors, main);
    margin-left: 50px;
    padding-top: 150px;
}
.underline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin-left: 50px;
}

.underline div {
    width: 600px;
    height: 10px;
    margin-right: 5px;
    @include shadowEffect;
}

// the first section
.section {
    height: 80vh;
    display: flex;
}

.textTyper {
    width: 25%;
    height: 100%;
    padding: 50px 30px 20px 30px;
    background: map-get($colors, textTyperBackground);
    color: map-get($colors, textTyperColor);
    font-size: 18px;
    line-height: 25px;
}

.eventBox {
    background: map-get($colors, eventBoxBackground);
    width: 75%;
    height: 100%;
}

.eventBox div:first-child {
    height: 70%;
    width: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventBox > div:last-child {
    height: 30%;
    width: 100%;
    height: 150px;
    vertical-align: bottom;
    padding: 10px;
    color: white;
    background: map-get($colors, eventBoxBackground);
    border-top: 2px solid map-get($colors, textTyperBackground);
    overflow: auto;
}

$widths: (
  width1: 250px,
  width2: 225px,
  width3: 200px,
  width4: 175px,
  width5: 150px,
  width6: 125px
);

$colorList: map-values($colorsBoxes);
$widthList: map-values($widths);

@for $X from 1 through 6
{
    .box-#{$X} {
        background: nth($colorList, $X);
        padding: 20px;
        border: 2px solid rgb(30, 30, 30);
    }
}
/*
SyntaxHighlighter {
    position: relative !important;
    width: 100% !important;
    overflow-y: visible !important;
    overflow-x: visible !important;
}
*/
// the second section
.section2 {
    height: 80vh;
    background: lightgrey;
}
.section3 {
    height: 80vh;
    background: lightblue;
}

